<IfModule mod_rewrite.c>
RewriteEngine on
RewriteBase /
RewriteRule ^(app|logs)($|/) - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\?*$ index.php?appsegment=$1 [L,QSA]
</IfModule>